<template>
    <div class="<%= data.lowername %>">
  
    </div>
  </template>
  
  <script>
  export default {
      name: '<%= data.name %>',
      components: {
  
      },
      props: {
  
      },
      data(){
          return {
              message: "<%= data.name %>"
          }
      },
      mounted(){
  
      },
      methods: {
  
      }
  }
  </script>
  
  <style scoped>
  
  </style>
  
  